body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(79, 79, 175);
}

#userInput {
    width: auto;
    height: 40px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1.3em;
    margin-bottom: 100px;
    letter-spacing: 5px;
    text-align: center;
    align-self: center;
}

.number-boxes {
    min-width: 12px;
    height: 30;
    padding: 1%;
    display: inline-block;
}

.number-boxes-pointer {
    background-color: orange;
}

#checkNumbers {
    width: 10%;
    height: 30px;
    align-self: center;
}

#number-container {
    min-width: 15%;
    min-height: 31px;
    background-color: aliceblue;
    border: 2px solid green;
    border-radius: 10px;
    align-self: center;
}

#userInput,
#number-container {
    margin-top: 10%;
}