body {
    display: flex;
    justify-content: center;
    background-color: black;
}


#page-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/*Top half section styles*/
#intro-and-input,
#results-block {
    grid-column: span 4;
}

#intro-and-input {
    display: flex;
    background-color: rgb(16, 15, 15);
    color: white;
}


#text {
    width: 50%;
    text-align: justify;
}

#text p {
    width: 80%;
}

#input-text-and-box {
    position: relative;
    top: 25%;
    left: 12.5%;
    text-align: center;
}


#userInput {
    width: auto;
    height: 40px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1.3em;
    letter-spacing: 5px;
    text-align: center;
    align-self: center;
}

.number-boxes {
    min-width: 12px;
    height: 30;
    padding: 1%;
    display: inline-block;
}

.orange-paint {
    background-color: orange;
}

.light-blue-paint {
    background-color: rgb(159, 225, 241);
}

.unpaint {
    background-color: white;
}


/*Bottom half section styles*/
#checkNumbers {
    width: 10%;
    height: 30px;
    align-self: center;
}

#number-container {
    position: relative;
    left: 66%;
    width: auto;
    max-width: 20%;
    min-height: 30px;
    background-color: aliceblue;
    border-radius: 10px;
}

#userInput,
#number-container {
    margin-top: 10%;
}