body {
    background-color: rgb(12, 12, 12);
    color: antiquewhite;
}

#page-wrap {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    position: relative;
    left: 12.5%;
    top: 10px;
    width: 75%;
    height: auto;
    max-height: 95vh;
    background-color: black;
    border-radius: 10px;
    padding: 20px;
}

#intro-and-input {
    grid-column: span 3;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    text-align: center;
}

#text {
    opacity: 0.8;
    border-radius: 15px;

}

#text h1,
#text p,
#input-text-and-box {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    opacity: 1;
    margin: 0px;
}

#text h1 {
    font-size: 2.3rem;
    letter-spacing: 1px;
    color: rgb(21, 155, 104);
}

#text p {
    font-size: 1.2rem;
    text-align: justify;
}

#input-text-and-box {
    opacity: 0.8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin-top: 7%;
    border-radius: 10px;
    margin-bottom: 0px;
    grid-row-start: 4;
}

#userInput {
    border: solid 2px rgb(21, 155, 104);
    background-color: black;
    color: antiquewhite;
    letter-spacing: 5px;
    text-align: center;
    border-radius: 50px;
    max-height: 50px;
    min-height: 30px;
    font-size: 1rem;
}

#userInput:focus,
#userInput:active {
    outline: none;
}


#input-text-and-box p {
    font-size: 1.3rem;
    font-weight: 500;
    opacity: 1;
    color: rgb(21, 155, 104);
}

/*Results*/

#results-block {
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 0.8;
    border-radius: 15px;
    font-size: 1rem;
    grid-column: span 2;
    grid-column-start: 2;
    grid-column-end: 5;

    grid-row-start: 4;
}

#checkNumbers,
#loadAgain {
    background-color: black;
    color: antiquewhite;
    width: 30%;
    height: 30px;
    align-self: center;
    margin-top: 10px;
    border: 2px solid rgb(21, 155, 104);
    border-radius: 50px;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
}

#checkNumbers {
    opacity: 1;
    transition: opacity 1s ease-out;
}

#checkNumbers.fadeOut {
    opacity: 0;
}

#loadAgain {
    height: auto;
    width: auto;
    margin-top: 0px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    border: 0px;
}

#loadAgain img {
    width: auto;
    max-width: 50px;
    border: 0px;
}

#checkNumbers:hover {
    cursor: pointer;
    height: 35px;
    background-color: rgb(21, 155, 104);
    transition: 1s;
}

#loadAgain img:hover {
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0 0 6px 2px rgb(21, 155, 104);
    transition: 1s;
}



/*For script*/

#number-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.number-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid rgb(21, 155, 104);
    margin-right: 7px;
    margin-bottom: 3%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    width: 30px;
    height: 30px;
}

.orange-paint {
    background-color: rgb(12, 70, 45);
    box-shadow: 0 0 5px 3px rgb(26, 184, 123);
    transition: 0.6s;
}

#timer {
    width: auto;
    color: rgb(26, 184, 123);
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
    display: inline-block;
    margin-right: 0px;
    letter-spacing: 7px;
}

#time-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2%;
    padding: 10px;
}

@media screen and (max-width: 834px) {


    #page-wrap {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        left: 0%;
        padding: 0px;
    }

    #intro-and-input,
    #results-block {
        grid-column: span 1;
    }

    #text h1 {
        font-size: 1.8rem;
    }

    #text p {
        font-size: 1rem;
    }

    #results-block {
        grid-row-start: 3;
        margin-top: 7%;
    }

    #checkNumbers {
        width: 60%;
        height: 50px;
    }
}

@media screen and (max-width: 695px) {
    #input-text-and-box {
        display: block;
    }

    #input-text-and-box p,
    img {
        font-size: 1rem;
    }

    #timer {
        font-size: 1.5rem;
    }

}